<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- profit.ejs -->
<body>
    <h2>Profit Calculation</h2>
    <p>Product: <%= product %></p>
    <p>Location: <%= location %></p>
    <p>Quantity: <%= quantity %></p>
    <p>Profit: <%= profit %></p>
  </body>
  
</html>