<!DOCTYPE html>
<html>

<head>
    <title>My Farming Platform</title>
    <link rel="stylesheet" type="text/css" href="home1.css">
    
</head>

<body>
    <header>
        <h1>Welcome to My Farming Platform</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/farmer/products">Products</a></li>
                <li><a href="/viewmarket">Market Data</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/items">posts</a></li>
            </ul>
        </nav>
    </header>
    <div class="image-gallery">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCW4ZpNaSvkBWDL-JBPBnifPworHntcWkQPdte9TrV21EWVAm_w-vHs_1KVWlV3U41afM&usqp=CAU"
            alt="Agriculture 1">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/ILRI%2C_Stevie_Mann_-_Ploughing_with_cattle_in_southwestern_Ethiopia.jpg/300px-ILRI%2C_Stevie_Mann_-_Ploughing_with_cattle_in_southwestern_Ethiopia.jpg"
            alt="Farm 1">
        <img src="https://i.guim.co.uk/img/media/d59fa69e7bb0d8055642458d5874827dd0f77dd3/0_0_4270_2561/master/4270.jpg?width=700&quality=85&auto=format&fit=max&s=7614a033ada986af3679ee01b77759ed"
            alt="Farmland 1">
        <img src="https://media.istockphoto.com/id/486180984/photo/spices-in-the-bags.jpg?s=612x612&w=0&k=20&c=THbStH172a7s7MJrI8JcwhvuMlfPNOYbRKm5d4YAf5c="
            alt="Farmland 1">
    </div>
    <main>
        <section>
            <h2>About Us</h2>
            <p>Welcome to our website! We are a dedicated team passionate about connecting farmers with consumers and empowering local communities through sustainable agriculture.

                we believe in the importance of supporting local farmers and promoting healthy food choices. Our mission is to bridge the gap between farmers and consumers by providing a platform where farmers can showcase their high-quality products directly to the market.
                
                With years of experience in the agricultural industry, we understand the challenges faced by farmers and the growing demand for fresh, organic produce. Our platform aims to make it easier for consumers to access farm-fresh products while ensuring fair prices and supporting local economies.
                
                We work closely with a network of farmers who are committed to sustainable farming practices and prioritize the well-being of their crops and livestock. Through our platform, you can discover a wide range of locally grown fruits, vegetables, grains, dairy products, and more.
                
                Our team is dedicated to providing a seamless and user-friendly experience for both farmers and consumers. We strive to create a transparent and trustworthy marketplace where farmers can showcase their products with detailed information, and consumers can make informed choices about the food they consume.
                
                We invite you to explore our website, connect with local farmers, and experience the joy of farm-fresh produce. Join us in supporting local agriculture, promoting sustainability, and fostering a healthier future for all.
                </p>
        </section>

        <section>
            <h2>Key Features</h2>
            <ul>
                <li>Market Data: the platform provides market data and insights to farmers, helping them make informed decisions about their farming practices and pricing strategies.</li>
                <li>Direct Farmer-Consumer Connection: the platform enables direct interaction between farmers and consumers, allowing consumers to connect with local farmers and purchase farm-fresh products directly.</li>
                <li>Product Showcase: Farmers can showcase their high-quality products with detailed information, including images, descriptions, and pricing, providing consumers with a comprehensive view of the available products.</li>
            </ul>
        </section>

        <section>
            <h2>Get Started</h2>
            <p>Sign up now to start selling your products and accessing market data.</p>
            <a href="/farmer/signup" class="cta-button">Sign Up</a>
            <a href="/viewmarket" class="cta-button">log in</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 My Farming Platform. All rights reserved.</p>
    </footer>

</body>

</html>
