<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../products.css">
</head>
<body>
    <div class="products">
        <div class="products-list">
            <h1>My Products</h1>
            <% for (let product of products){ %>
                <ul>
                    <li><%= product.name %></li>
                </ul>
            <% } %>
        </div>

        <div class="products-new">
            <h2>Add Products</h2>
            <form action="/farmer/products" method="POST">
                <div>
                    <label for="name">Product Name:</label>
                    <input type="text" name="name" id="name">
                </div>
                <div>
                    <label for="amount">Amount:</label>
                    <input type="number" name="quantity" id="amount">
                </div>
                <div>
                    <label for="price">Price:</label>
                    <input type="number" name="price" id="price">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
